mat-form-field{
    width: 100%;
    margin: 5vh;

}

.message--list{
    display: flex;
   
}

.message--input{
   background-color: azure;
    display: flex;
    width: 100%;
    position: absolute;
    bottom : 0;
}