.message--list{
    overflow-y: scroll;
    height: 100%;
}

mat-form-field {
  width: 100%;
  margin: 5vh;
}

.message--input {
  background-color: azure;
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.message--icon {
  display: flex;
  flex-direction: row;
  margin: 7vh 8vh 8vh 0;
}

.message__header {
  color: gray;
  display: flex;
  flex-direction: row;
  bottom: 0;
}

.cards2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 60%;
}

.cards1 {
  display: flex;
  flex-direction: column;
  justify-content: start;

  margin-left: auto !important;
  width: 60%;
}

.card{
    margin: 20px;
}

